body {
    font-family: monospace;
    background: linear-gradient(to right, #0b40a4, #5badf0);
}

.container {
    padding: 20px;
}

.profile-box,
.description-box,
.icon-box {
    background-color: #9f9f9f;
    border-right: 3px solid;
    border-bottom: 3px solid;
    border-top: 5px solid #dfdfdf48;
    border-left: 5px solid #dfdfdf48;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
}

.header {
    background: linear-gradient(to right, #447de5, #077ddd);
    color: white;
    padding: 20px;
    text-align: left;
    font-size: 18px;
    font-weight: bold;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.close-button {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background-color: #9f9f9f;
    color: rgb(0, 0, 0);
    border-right: 2px solid;
    border-bottom: 2px solid;
    border-top: 3px solid #dfdfdf48;
    border-left: 3px solid #dfdfdf48;
    padding: 2px 8px;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
}

.close-button:hover {
    background-color: #666;
    color: #ffffff;
}

#profilePic {
    max-width: 70%;
    height: auto;
    border-right: 5px solid #dfdfdf48;
    border-bottom: 5px solid #dfdfdf48;
    border-top: 3px solid;
    border-left: 3px solid;
    margin-top: 50px;
    /* Adjust to create space for the header */
    margin-bottom: 20px;
}
.description-text,
.icon-text {
    background-color: #ededed;
    border-right: 5px solid #c2c2c25a;
    border-bottom: 5px solid #c2c2c25a;
    border-top: 3px solid;
    border-left: 3px solid;
    margin: 50px 0 0 0;
    /* Adjust margin to create space below the header */
    padding: 20px;
    text-align: left;
}
.project-image {
    width: 300px;
    height: auto;
    margin-bottom: 10px; /* Add spacing below the image */
    margin-left: auto;
    margin-right: auto;
}
#projectsBox {
    max-height: 80vh;
    overflow-y: auto;
}
.sections {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.section {
    flex: 1;
    text-align: center;
    padding: 10px;
}

h1,
h2 {
    margin: 10px 0;
}

hr {
    margin: 20px 0;
}

.desktop-icons {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 20px;
    padding: 20px;
}


.icon {
    text-align: center;
    cursor: pointer;
}

.icon img {
    width: 130px;
    height: 130px;
}

.icon p {
    color: white;
    margin: 10px;
    font-size: 18px;
}
.windows-dock {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-color: #989FA2;
    border-top: 3px solid #d2d2d2;
    box-shadow: 0 -3px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: left;
    justify-content: left;
    z-index: 9999;
}

.dock-icon {
    margin: 0 3px;
    padding: 5px;
    background-color: #989FA2;
    border-right: 2px solid;
    border-bottom: 2px solid;
    border-top: 3px solid #c2c2c25a;
    border-left: 3px solid #c2c2c25a;
    box-shadow: inset -1px -1px 2px #fff, inset 1px 1px 2px #888;
    cursor: pointer;
    transition: transform 0.2s;
}

.dock-icon img {
    width: 40px;
    height: 40px;
}

.dock-icon:hover {
    transform: scale(1.2);
    background-color: #cfcfcf;
}
